{% extends 'base.html' %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
		<div class="container">
			<h3><b>Datos de {{ nombre_id }}</b></h3>
			<br>
			<p style="font-size:17px">
			Nombre: {{ asignatura.nombre }}
			<br>
			Centro: {{ asignatura.centro }}
			<br>
			Titulacion: {{ asignatura.titulacion }}
			<br>
			Curso: {{ asignatura.curso }}º
			<br>
			Web: <a href="{{ asignatura.web }}" target="_blank">{{ asignatura.web }}</a>
			<br>
			Profesor: <a href="/profesores/{{ profesor.nick }}/">{{ asignatura.creador }}</a>		
			<br>
			Alumnos:<br>
			{% for alumno in lista_alumnos %}
				<a href="/estudiantes/{{ alumno.nick }}/">{{ alumno.nombre }}</a><br>
			{% endfor %}
			</p>
			{% if usuario.tipo == 'ESTUDIANTE' %}
				<br>
				{% if not dentro %}
					<p><a class="btn btn-primary" href="/unirse/{{nombre_id}}" role="button">Unirse &raquo;</a></p>   
				{% else %}
					<p><a class="btn btn-primary" href="/salirse/{{nombre_id}}" role="button">Salirse &raquo;</a></p>   
				{% endif %}
			{% elif usuario.tipo == 'PROFESOR' %}
				{% if usuario.nombre == asignatura.creador %}
					<br>
					<p><a class="btn btn-primary" href="/borrarasignatura/{{nombre_id}}" role="button">Borrar asignatura</a></p>
				{% endif %}
			{% endif %}
		</div> <!-- /container -->
	</div>
    
{% endblock %}
