{% extends 'base.html' %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Bienvenido a PLUCO :)</h1>
        <br>
        <h3><b>Plataforma Universitaria de Compartición de Conocimientos</b></h3>
        <br>
        {% if user.is_authenticated %}
			<p style="text-align: justify;">Si es la primera vez que accedes como usuario, deberías rellenar primero tu cuenta indicando si eres estudiante o profesor. Para ello pincha en el botón de abajo.</p>
			<center><p><a class="btn btn-primary btn-lg" href="{% url 'editar_usuario' %}" role="button">Editar cuenta &raquo;</a></p></center>
		{% else %}
			<p style="text-align: justify;">Se trata de una plataforma académica de compartición de archivos de la Universidad de Granada, que permite la colaboración en grupo entre los usuarios del sistema. Ofrece servicios de almacenamiento de archivos en la nube, y de mensajería y foros para la resolución de dudas, potenciando la interacción de los usuarios, y agrupando a los mismos por grupos, por ejemplo de asignaturas o cursos.</p>
			<center><p><a class="btn btn-primary btn-lg" href="{% url 'registro_usuario' %}" role="button">Registrarse &raquo;</a></p></center>
		{% endif %}
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Asignaturas</h2>
          <p><a class="btn btn-default" href="{% url 'lista_asignaturas' %}" role="button">Ir a Asignaturas &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Estudiantes</h2>
          <p><a class="btn btn-default" href="{% url 'lista_estudiantes' %}" role="button">Ir a Estudiantes &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Profesores</h2>
          <p><a class="btn btn-default" href="{% url 'lista_profesores' %}" role="button">Ir a Profesores &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>PLUCO &copy; 2015-2016 Rubén Martín Hidalgo</p>
        <p>Contacto: <a href="mailto:rubenmartin1991@gmail.com">rubenmartin1991@gmail.com</a></p>
      </footer>
    </div> <!-- /container -->
    
{% endblock %}
